<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xianwei.learninglib">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".lib_android.backstack.Activity1"
            android:label="@string/title_activity_activity1"></activity>
        <activity android:name=".lib_android.animation.AnimationTestActivity" />
        <activity android:name=".lib_android.customview.CustomViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lib_android.bottomsheet.BottomSheetTestActivity" />
        <activity android:name=".lib_android.touchsystem.TouchSystemTestActivity" />
    </application>

</manifest>